@inherits UmbracoViewPage<IProperty>
@{
    var value = Model.GetValue(); //Should be a UDI string

    if (value != null)
    {
        var udi = UdiParser.Parse(value.ToString());
        var item = Umbraco.Content(udi);
        if (item != null)
        {
            <span>
                @item.Name (@item.ContentType.Alias)
                <br /><small>@value</small>
            </span>
        }
        else
        {
            <span>
                [Unpublished Node]
                <br /><small>@value</small>
            </span>
        }
    }
    else
    {
        <i>(No item selected)</i>
    }
}